# Fichiers de base de données
*.sqlite3

# Répertoires de migration
*/migrations/*.py
!*/migrations/__init__.py

# Cache Python
__pycache__/
*.pyc

# Virtual environment directory
venv/
env/

# Fichiers de logs
*.log
